services:
  payment-app:
    image: payment-app
    container_name: payment-app
    profiles:
      - prod
    networks:
      - backend
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_started
      opensearch-node1:
        condition: service_started
      kafka-init:
        condition: service_completed_successfully
    env_file: .env
    environment:
      - PG_URL=user=postgres password=secret host=db port=5432 dbname=payments sslmode=disable
      - OPENSEARCH_URLS=http://opensearch-node1:9200
      - KAFKA_BROKERS=kafka:29092
    ports:
      - "3000:3000"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    profiles:
      - prod
      - infra
    networks:
      - backend
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - zookeeper-data:/var/lib/zookeeper/data

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    profiles:
      - prod
      - infra
    networks:
      - backend
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    volumes:
      - kafka-data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  kafka-init:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka-init
    profiles:
      - prod
      - infra
    depends_on:
      kafka:
        condition: service_started
    networks:
      - backend
    entrypoint: ["/bin/sh", "-c"]
    command: |
      "
      echo 'Waiting for Kafka to be ready...'
      cub kafka-ready -b kafka:29092 1 30

      echo 'Creating topics...'
      kafka-topics --bootstrap-server kafka:29092 --create --if-not-exists --topic webhooks.orders --partitions 3 --replication-factor 1
      kafka-topics --bootstrap-server kafka:29092 --create --if-not-exists --topic webhooks.disputes --partitions 3 --replication-factor 1

      echo 'Topics created:'
      kafka-topics --bootstrap-server kafka:29092 --list
      "

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    profiles:
      - infra
    ports:
      - "8888:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
    depends_on:
      - kafka
    networks:
      - backend

  silvergate-mock:
    image: wiremock/wiremock:latest
    container_name: silvergate-mock
    profiles:
      - infra
    ports:
      - '8080:8080'
    volumes:
      - ./integration-test/mappings:/home/wiremock/mappings
    entrypoint: ["/docker-entrypoint.sh", "--global-response-templating", "--disable-gzip", "--verbose"]

  db:
    build:
      dockerfile: ./PG.Dockerfile
    restart: always
    hostname: db
    profiles:
      - prod
      - infra
    networks:
      - backend
    environment:
      POSTGRES_DB: payments
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      PGDATA: /var/lib/postgresql/data/
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data/

  opensearch-node1:
    image: opensearchproject/opensearch:3
    container_name: opensearch-node1
    profiles:
      - prod
      - infra
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node1
      - discovery.seed_hosts=opensearch-node1,opensearch-node2
      - cluster.initial_cluster_manager_nodes=opensearch-node1,opensearch-node2
      - bootstrap.memory_lock=true  # along with the memlock settings below, disables swapping
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
      - DISABLE_SECURITY_PLUGIN=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536  # maximum number of open files for the OpenSearch user, set to at least 65536 on modern systems
        hard: 65536
    volumes:
      - opensearch-data1:/usr/share/opensearch/data
    ports:
      - 9200:9200
      - 9600:9600  # required for Performance Analyzer
    networks:
      - backend

  opensearch-node2:
    image: opensearchproject/opensearch:3
    container_name: opensearch-node2
    profiles:
      - prod
      - infra
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node2
      - discovery.seed_hosts=opensearch-node1,opensearch-node2
      - cluster.initial_cluster_manager_nodes=opensearch-node1,opensearch-node2
      - bootstrap.memory_lock=true
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
      - DISABLE_SECURITY_PLUGIN=true    # dev only
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch-data2:/usr/share/opensearch/data
    networks:
      - backend

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:3
    container_name: opensearch-dashboards
    profiles:
      - prod
      - infra
    ports:
      - 5601:5601
    expose:
      - '5601'
    environment:
      OPENSEARCH_HOSTS: '["https://opensearch-node1:9200","https://opensearch-node2:9200"]'
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: "true"                                            # <<< add
    networks:
      - backend


volumes:
  db-data:
  opensearch-data1:
  opensearch-data2:
  zookeeper-data:
  kafka-data:

networks:
  backend:
  opensearch-net:
