global
    maxconn 100

resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold valid 10s

defaults
    mode tcp
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    timeout check   5s

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
    http-request use-service prometheus-exporter if { path /metrics }

frontend pg_rw
    bind *:5440
    default_backend pg_primary

frontend pg_ro
    bind *:5441
    default_backend pg_replicas

backend pg_primary
    option pgsql-check user postgres
    server db-primary db-primary:5432 check inter 3s fall 3 rise 2 resolvers docker init-addr none

backend pg_replicas
    balance roundrobin
    option pgsql-check user postgres
    server db-replica db-replica:5432 check inter 3s fall 3 rise 2 resolvers docker init-addr none
    server db-replica-2 db-replica-2:5432 check inter 3s fall 3 rise 2 resolvers docker init-addr none
